
/* regole css universali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* /regole css universali */

/* typo */
nav li a{
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}

h2{
  color: white;
  font-size: 50px;
}

h3{
  font-size:30px;
  margin-bottom: 10px;
}

h4{
  color:#808080;
}

div.bottone{
  display: inline-block;
  color: white;
  padding: 0 0px;
  border: 2px solid white;
  border-radius: 8px;
}

div.bottone.pieno{
  background-color: #7cbb02;
  padding: 0px 0;
  border-color: #7cbb02;
}


div.bottone.grande{
  padding: 28px 0;
}

div.bottone a{
  text-decoration: none;
  padding: 20px 20px;
  color: #fff;
}

div.bottone.grande a{
  padding: 28px 28px;
}

/* /typo */


/* regole per sezione blu */

header{
  padding-top: 10px;
  padding-bottom: 30px;

}

.main-container{
  width:80%;
  height: 100%;
  margin:auto;
  /* border: solid 1px white; */
  position:relative;
  /* height: 80vh; */
}


.img-container{
background-image: url(../img/background-header.png);
background-size: contain;
width: 100%;
height: 100%;

}

div.box, nav.box{
  float: left;
  position:relative;
  top: 50%;
  transform: translate(0%, -50%;);

}

div.logo{
  width:10%;
}

.logo img{
  height: 30px;
}


nav.link-nav{
  width:55%;
  padding-left: 30px;
}

nav.button-nav{
  width:35%;

}

nav li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
  line-height: 34px;



}

.title-box{
  width: 50%;
  position:absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

.title-box h2{
  margin-bottom: 20px;
}

.text-box{
  text-align: center;
  color: #000;
}


div.bg-img.wide-container{
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  height:60vh;
}


.blue{
  background-color: #0C325A;

}

.gray{
  background-color: #D3D3D3;
  padding: 40px 0;
}

.white{
  background-color: #fff;
}
